<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.th.supermarket.mapper.EmployeeMapper">

    <resultMap id="BaseResultMap" type="com.cqupt.th.supermarket.entity.Employee">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="workNumber" column="work_number" jdbcType="CHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="TINYINT"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="positionId" column="position_id" jdbcType="INTEGER"/>
        <result property="storeId" column="store_id" jdbcType="INTEGER"/>
        <result property="warehouseId" column="warehouseId" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
        <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,work_number
        ,name,sex,
        age,position_id,store_id,warehouse_id,
        status,gmt_create,gmt_modified
    </sql>
    <update id="updateEmployeeByStoreId">
        update employee
        set store_id = null
        where store_id = #{storeId}
    </update>
    <update id="updateEmployeeByStoreIds">
        update employee
        set store_id = null
        where store_id in
        <foreach collection="storeIds" item="storeId" open="(" separator="," close=")">
            #{storeId}
        </foreach>
    </update>
    <update id="updateEmployeeByWarehouseId">
        update employee
        set warehouse_id = null
        where warehouse_id = #{warehouseId}
    </update>
    <update id="updateWarehouseId">
        update employee
        set warehouse_id = #{warehouseId}
        where id = #{managerId}
    </update>
    <update id="updateStoreId">
        update employee
        set store_id = #{storeId}
        where id = #{managerId}
    </update>


</mapper>
