<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.th.supermarket.mapper.PurchaseMapper">

    <resultMap id="BaseResultMap" type="com.cqupt.th.supermarket.entity.Purchase">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="purchaseNumber" column="purchase_number" jdbcType="BIGINT"/>
        <result property="productId" column="product_id" jdbcType="INTEGER"/>
        <result property="supplierId" column="supplier_id" jdbcType="INTEGER"/>
        <result property="quantity" column="quantity" jdbcType="INTEGER"/>
        <result property="purchasePrice" column="purchase_price" jdbcType="DECIMAL"/>
        <result property="totalPrice" column="total_price" jdbcType="DECIMAL"/>
        <result property="shelfLife" column="shelf_life" jdbcType="TIMESTAMP"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
        <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,product_id,supplier_id,
        quantity,purchase_price,total_price,shelfLife
        gmt_create,gmt_modified
    </sql>
    <update id="updatePurchaseByProductId">
        update purchase
        set product_id = null
        where product_id = #{productId}
    </update>
    <update id="updatePurchaseByProductIds">
        update purchase
        set product_id = null
        where product_id in
        <foreach collection="productIds" item="productId" open="(" separator="," close=")">
            #{productId}
        </foreach>
    </update>
</mapper>
