<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.th.supermarket.mapper.WarehouseMapper">

    <resultMap id="BaseResultMap" type="com.cqupt.th.supermarket.entity.Warehouse">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="regionId" column="region_id" jdbcType="INTEGER"/>
        <result property="managerId" column="manager_id" jdbcType="INTEGER"/>
        <result property="tel" column="tel" jdbcType="VARCHAR"/>
        <result property="rent" column="rent" jdbcType="DECIMAL"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
        <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,region_id,
        manager_id,tel,gmt_create,
        gmt_modified
    </sql>
    <update id="updateRegionIdByRegionIds">
        UPDATE warehouse
        SET region_id = null
        WHERE region_id IN
        <foreach collection="regionIds" item="regionId" open="(" separator="," close=")">
            #{regionId}
        </foreach>
    </update>
    <update id="updateManager">
        UPDATE warehouse
        SET manager_id = #{managerId}
        WHERE id = #{warehouseId}
    </update>
    <update id="updateWarehouseManagerAll">
        UPDATE warehouse
        SET manager_id = 0
        WHERE manager_id = #{managerId}
    </update>
</mapper>
